<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <application
        android:name=".HitApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:networkSecurityConfig="@xml/tp_network_security_config"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuenchLog"
        tools:targetApi="31">

        <activity
            android:name=".history.HitHistoryActivity"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".setting.HitSettingActivity"
            android:exported="false"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".drink.HitDrinkActivity"
            android:exported="false"
            android:excludeFromRecents="true"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".home.HitHomeActivity"
            android:exported="false"
            android:excludeFromRecents="true"
            android:screenOrientation="nosensor" />

        <activity
            android:name=".HitSplashActivity"
            android:enabled="false"
            android:exported="true"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".setting.UsudnService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.speech.RecognitionService" />
            </intent-filter>
        </service>

        <provider
            android:name=".setting.Uwsjprovder"
            android:authorities="${applicationId}.sync"
            android:enabled="true"
            android:exported="true"
            android:syncable="true">
            <meta-data
                android:name="android.content.ContactDirectory"
                android:value="true" />
        </provider>

        <service
            android:name=".setting.QusnSeervice"
            android:exported="false" />

        <activity
            android:name=".setting.HitAdcActy"
            android:excludeFromRecents="true"
            android:exported="true"
            android:icon="@drawable/hit_laucnds"
            android:label="@string/awusa"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme" />

        <service
            android:name=".setting.FiBaseService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>